// Fonts
$font-roboto: var(--font-roboto);

// Colors
$dark: #060F42;
$text-light: #D9D9D9;
$primary: #06A56C;
$primary-hover: #37BD8D;
$secondary: #01579B;


$box-shadow: 0 0px 10px 0 rgb(165 169 176 / 30%);
$box-shadow-hover: 0 2px 20px 0 rgb(165 169 176 / 100%);
$delivery-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);


$transition: 0.2s ease-in-out;